@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "causten";
  src: url("/fonts/Causten-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-height: 100vh;
}

body {
  background-color: rgba(255, 0, 0, 0.068);
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 100%;
  font-family: "Causten", "sans-serif";
  /* background-image: url("../../public/images/background-image.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 */
}
